@import url('../../assets/css/color.css');

.TextBox{
    margin-bottom: 10px;
}
.TextBox h3{
    font-size: 18px;
    color: var(--semi-red);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 35px;
}
.TextBox h3::before{
    content: '';
    background-color: var(--grey);
    height: 4px;
    width: 260px;
    position: absolute;
    bottom: -14px;
}
.TextBox h3::after{
    content: '';
    background-color:var(--semi-red);
    height: 4px;
    width: 120px;
    position: absolute;
    bottom: -14px;
    left: 0;
}

.TextBox p{
    background-color: var(--grey);
    padding:10px;
    font-size: 14px;
}