@import url('../../assets/css/color.css');

.Header{
    margin-bottom: 60px;
}
.red{
    background-color: var(--semi-red);
    height: 220px;
}
.section{
    display: grid;
    grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
    color: #fff;
}
.img{
    background-color: var(--semi-red);
    background-position: center !important;
    background-size: cover !important;
    width: 200px;
    height: 200px;
    position: relative;
    top: 60px;
    left: 60px;
    border: 4px solid #fff;
    border-radius: 2px;
}
.detail{
    position: relative;
    top: 60px;
    left: -10px;
    padding:0 50px 0 0 ;
}
.detail h2{
    font-size: 24px;
    margin: 5px 0;
    cursor: pointer;
}
.detail h4{
    font-weight: 400;
    margin: 0;
}
.detail p{
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
}