.YearList{
    margin-bottom: 40px;
    overflow: hidden;
}
.YearList h3{
    margin: 0;
    font-size: 18px;
    color: var(--semi-red);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 35px;
}
.YearList h3::before{
    content: '';
    background-color: var(--grey);
    height: 4px;
    width: 260px;
    position: absolute;
    bottom: -14px;
}
.YearList h3::after{
    content: '';
    background-color:var(--semi-red);
    height: 4px;
    width: 120px;
    position: absolute;
    bottom: -14px;
    left: 0;
}